<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../bootstrap.min.css">
    <link rel="stylesheet" href="../../css/main.css">

    <title>Жужа телеком связь сервис</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Жужа телеком связь</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Главная<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Тарифы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О нас</a>
                </li>
            </ul>
            <span class="navbar-text">
    </span>
        </div>
    </nav>

    <div class="row hidden-md-up">
        <div class="filter m-3 ">
            <form class="form-inline">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="SMS" name="service" th:checked="${#sets.contains(services,'SMS')}">
                    <label class="form-check-label" for="inlineCheckbox1">SMS</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="MMS" name="service" th:checked="${#sets.contains(services,'MMS')}">
                    <label class="form-check-label" for="inlineCheckbox2">MMS</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Internet" name="service" th:checked="${#sets.contains(services,'Internet')}">
                    <label class="form-check-label" for="inlineCheckbox3">Internet</label>
                </div>

                <button type="submit" class="btn btn-primary">Поиск</button>
            </form>
        </div>
    </div>


    <div class="row hidden-md-up m-0">


        <th:block th:each="tariff, iStat : ${tariffs}">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title" th:text="${tariff.name()}"></h5>
                </div>
                <img class="card-img-top" th:src="'../../images/' + (${iStat.index} + 1) + '.jpeg'">
                <li class="list-group-item price" th:inline="text">[[${tariff.price()}]] грн.</li>
                <ul class="list-group list-group-flush">
                    <th:block th:each="service : ${tariff.includedServices()}">
                        <li class="list-group-item" th:text="${service.text()}"></li>
                    </th:block>
                    <li class="list-group-item">Безліміт за кордон</li>
                </ul>

                <div class="card-body">
                    <p class="card-text">Наше специальное предложение для бедных студентов</p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </th:block>

    </div>
</div>
<script src="../../jquery-3.3.1.slim.min.js"></script>
<script src="../../popper.min.js"></script>
<script src="../../bootstrap.min.js"></script>
</body>
</html>